<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WildHorses.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD2A5C992C8F905300CCD661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2A5CAA2C8F905400CCD661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2A5CB42C8F905500CCD661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
